body {
    font-family: 'Montserrat', sans-serif;
}

.main-wrap {
    min-width: 1200px;
}

.section1_banner {
    height: 1012px;
    background: url(../img/Sections_background/section-1.jpg) no-repeat fixed;
    background-size: cover;
}

.section1_header-wrap {
    height: 120px;
    display: flex;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.section1_header-wrap_logo-wrap_emblem-wrap {
    position: relative;
}

.section1_header-wrap_logo-wrap {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1_header-wrap_logo-wrap_emblem-wrap_letter {
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.section1_header-wrap_logo-wrap_emblem-wrap_text {
    display: inline-block;
    font-size: 32px;
    color: #ffffff;
}

.section1_header-wrap_logo-wrap_emblem-wrap_text > span {
    font-size: 32px;
    font-weight: bold;
    color: #18cfab;
}

.section1_header-wrap_menu > ul {
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.section1_header-wrap_menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, .6);
}

.section1_header-wrap_icon-search {
    color: rgba(255, 255, 255, .6);
    width: 380px;
}

.section1_content-wrap {
    position: relative;
    height: calc(100% - 120px);
}

.section1_content-wrap_center-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.section1_content-wrap_center-wrap_heading-first {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.section1_content-wrap_center-wrap_heading-first > span {
    color: #18cfab;
}

.section1_content-wrap_center-wrap_heading-second {
    font-size: 78px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.section1_content-wrap_center-wrap_heading-third {
    font-size: 35px;
    font-weight: lighter;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .6)
}

.section1_content-wrap_center-wrap_button-wrap {
    padding-top: 120px;
}

.main-button {
    width: 169px;
    height: 63px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 -5px 0 #ffffff;
}

.main-button:focus {
    outline: none;
}

.section1_content-wrap_center-wrap_button-wrap_button-first {
    background: #18cfab;
    margin-right: 26px;
}

.section1_content-wrap_center-wrap_button-wrap_button-second {
    background: #00cbf6;
}

.section1_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 377px;
    margin-top: 10px;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.section1_blocks_block {
    background: #1c2a33;
    color: #18cfab;
    position: relative;
}

.section1_blocks_block-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}


.section1_blocks_block:nth-child(2n) {
    background: #18cfab;
    color: #ffffff;
}


.section1_blocks_block p {
    padding-top: 50px;
}

.main-heading {
    position: relative;
    font-size: 36px;
    color: #4e4e4e;
    text-transform: capitalize;
    text-align: center;
}

.main-heading:after {
    display: block;
    background: #18cfab;
    margin: 24px auto 69px;
    content: " ";
    width: 79px;
    height: 3px;
}

.main-heading:before {
    position: absolute;
    left: 50%;
    top: 50px;
    display: block;
    background: #18cfab;
    margin: 24px auto 69px;
    content: " ";
    width: 79px;
    height: 3px;
}


.main-content-wrap {
    max-width: 1160px;
    margin: 82px auto 90px;
}


.section1_main-content-wrap_menu-wrap {
    display: flex;
    list-style: none;
    margin-bottom: 28px;
}

.section1_main-content-wrap_info-box {
    list-style: none;
    margin-top: 28px;
}

.section1_main-content-wrap_menu-wrap_menu {
    width: 192px;
    background: #f8fcfe;
    border: 1px solid #edefef;
    color: #717171;
    cursor: pointer;
    padding: 30px 0;
    text-align: center;
}

.section1_main-content-wrap_menu-wrap_menu.active {
    background: #18cfab;
    color: #ffffff;
    position: relative;
}

.section1_main-content-wrap_menu-wrap_menu.active:after {
    position: absolute;
    left: 85px;
    top: 79px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.section1_main-content-wrap_menu-wrap_menu:hover {
    border: 1.5px solid #18CFAB;
    cursor: default;
}

.section1_main-content-wrap-img {
    width: 192px;
    height: 139px;
    float: left;
    padding-right: 15px;
}

.section1_main-content-wrap-text {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

.section2 {
    background: #e9edef;
}

.section2_banner {
    height: 476px;
    background: url("../img/Sections_background/section-2.jpg") no-repeat;
    background-size: cover;
}

.section2_banner_opacity {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.section2_banner-content-wrap h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.section2_banner-content-wrap p {
    margin-bottom: 67px;
    color: #d8d8d8;
    text-align: center;
}

.section2_banner-content-wrap_button-wrap {
    display: flex;
    justify-content: center;
}

.section2_banner-content-wrap_button-wrap_button {
    background: #18cfab;
}

.section2_main-content-wrap_menu-wrap {
    display: flex;
    list-style: none;
    justify-content: center;
}

.section2_main-content-wrap_menu-wrap_menu {
    border: 1px solid #dadada;
    color: #717171;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 20px;
    text-align: center;
    margin-bottom: 71px;
}

.section2_main-content-wrap_menu-wrap_menu.selected {
    border: 2px solid #18CFAB;
}

.portfolio {
    text-align: center;
}

.section2_main-content-wrap_gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.hidden {
    display: none;
}

.section2_main-content-wrap_gallery-wrap_upend-card_wrap {
    perspective: 1500px;
    height: 203px;
    width: 282px;
}

.section2_main-content-wrap_gallery-wrap_upend-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.section2_main-content-wrap_gallery-wrap_upend-card_front-side {
    backface-visibility: hidden;
}

.section2_main-content-wrap_gallery-wrap_upend-card_back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-top: 2px solid #18cfab;
    text-align: center;
    left: 0;
    top: 1px;
}

.section2_main-content-wrap_gallery-wrap_upend-card_back-side i {
    margin-top: 40px;
    font-size: 40px;
    color: #18cfab;
}

.section2_main-content-wrap_gallery-wrap_upend-card_back-side h3 {
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}

.section2_main-content-wrap_gallery-wrap_upend-card_back-side p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
}

.section2_main-content-wrap_gallery-wrap_upend-card_wrap:hover .section2_main-content-wrap_gallery-wrap_upend-card {
    transform: rotateY(180deg);
}

.section2_main-content-wrap_button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 70px 0 99px 0;
    width: 168px;
    height: 63px;
    background: #18cfab;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.section2_main-content-wrap_button i {
    padding-right: 15px;
}

.section2_main-content-wrap_button:focus {
    outline: none;
}

.section3_main-content-wrap_gallery-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
}

.section3_main-content-wrap_gallery-wrap_card {
    text-decoration: none;
}

.section3_main-content-wrap_gallery-wrap_card_text-wrap p {
    font-size: 14px;
    color: #777777;
    padding-left: 10px;
}

.section3_main-content-wrap_gallery-wrap_card_text-wrap h4 {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    padding: 10px;
}

.section3_main-content-wrap_gallery-wrap_card:hover .section3_main-content-wrap_gallery-wrap_card_text-wrap h4 {
    color: #18cfab;
}

.section3_main-content-wrap_gallery-wrap_card_img-wrap {
    position: relative;
}

.section3_main-content-wrap_gallery-wrap_card_img-wrap_date-wrap {
    position: absolute;
    right: 0;
    top: 0;
    background: #18cfab;
    width: 70px;
    height: 68px;
    display: none;
}

.section3_main-content-wrap_gallery-wrap_card:hover .section3_main-content-wrap_gallery-wrap_card_img-wrap_date-wrap {
    display: block;
    transition: all 100ms ease;
}

.section3_main-content-wrap_gallery-wrap_card_img-wrap_date-wrap_date {
    display: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;

}

.section3_main-content-wrap_gallery-wrap_card_img-wrap_date-wrap_date div {
    padding-top: 10px;
}

.section3_main-content-wrap_gallery-wrap_card:hover .section3_main-content-wrap_gallery-wrap_card_img-wrap_date-wrap_date {
    display: block;
}

.section3_banner {
    height: 853px;
    background: url("../img/Sections_background/section-3.jpg") no-repeat;
    background-size: cover;
}

.section3_banner_opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.section3_banner-content-wrap_heading {
    color: #ffffff;
}

.fa-quote-left {
    margin-bottom: 36px;
    color: #18cfab;
    width: 1160px;
    text-align: center;
}

.section3_banner-content-wrap_heading_text {
    color: #bbbbbb;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    margin-bottom: 37px;
}

.section3_banner-content-wrap_business-card {
    list-style: none;
    width: 300px;
    margin: 0 auto;
}

.section3_banner-content-wrap_business-card li {
    text-align: center;
}

.section3_banner-content-wrap_business-card span {
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
}

.section3_banner-content-wrap_business-card p {
    margin-top: 10px;
    color: #bbbbbb;
    font-weight: 300;
    font-size: 14px;
}

.section3_banner-content-wrap_business-card img {
    margin-top: 50px;
    width: 143px;
    height: 142px;
    border-radius: 100px;
    border: 8px solid rgba(31, 218, 181, 0.2);
}

.section3_banner-content-wrap_slider-wrap {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 430px !important;
    align-items: baseline;
    margin: 0 auto;
    list-style: none;
}

.section3_banner-content-wrap_slider-wrap img {
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50px;
    width: 60px !important;
    height: 59px;
    margin: 0 auto;
}

.owl-stage {
    padding-top: 55px;
}

.owl-prev, .owl-next {
    color: #ffff !important;
    font-size: 25px !important;
    position: absolute;
    width: 31px;
    height: 31px;
    border: 1px solid #fff !important;
}

.owl-prev {
    top: 75px;
    left: -35px;
}

.owl-next {
    top: 75px;
    right: -35px;
}

.owl-prev:hover {
    background: #18CFAB !important;
    border: none;
}

.owl-next:hover {
    background: #18CFAB !important;
    border: none;
}